body#rleduc6 {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

body#rleduc6 h1 {
  border-bottom: 1px solid #666; 
}

body#rleduc6 h2 {
  border-bottom: 1px solid #666; 
}

.rdName {
  font-weight: bold;
}

/* add some indentation to articles on wider screens */
@media only screen and (min-width: 960px) {
  body#rleduc6 article {margin-left: 1em; }
}