/* ****** layout styles **** */
.container {
  color: #444;
  margin: 0 auto;
}

.coreyLeavitt {
  background: green;
  color: blue;
}

#collin li{
    list-style: none;
}

#collin header{
    margin-bottom: 2rem;
}

#collin .nav{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    background: darkgrey;
    height: .5rem;
}

#collin .nav a{
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding: .4em .6em;
    background: #aB0000;
    border: .5rem solid;
    width:100%;
}

#collin .nav a:hover{
    background: #4f0000;
}


#collin .summary p{
    text-indent: 1rem;
    margin-left: .5rem
}

#collin #content{
    width:80%;
    margin: 0 auto 0;
}

#collin #content section{
    width: 90%;
    margin: .5rem 0;
    border: solid;
    padding: 0 5%;
    background-color: azure
}

#collin section h2{
    margin: .5rem auto;
    border-bottom: solid;
    width: 105.5%;
    text-indent: 1rem;
}

#collin footer{
    width: 100%;
    margin: 1rem 0 1rem;
}

/* center the container on large screens and apply background */
@media only screen and (min-width: 960px) {
  body {
    background-color: #ddd;
  }

  .container {
    background-color: #fff;
    border: 1px solid #666;
    padding: 1em;
    width: 80%;
  }
}

/* center text in header and footer */
.container > footer, .container > header {
  text-align: center;
}

/* ensure links have a color that matches theme */
.container a { color: #333; }
.container a:hover { color: #999; }
.container a:visited { color: #999; }

/* banderson */
/* builds on base styles */
body#banderson {
  font-family: 'Lora', 'Times New Roman', serif;
}

body#banderson .media a {
  color: #333;
  margin: 0.5em;
  text-decoration: none;
}

body#banderson h1 {border-bottom: 1px solid #666; }
body#banderson article h2 {font-size: 1.25em }

/* add some indentation to articles on wider screens */
@media only screen and (min-width: 960px) {
  body#banderson article {margin-left: 1em; }
}

body#jfellows {
  background-color: #FFF;
  color: #2E0000;
  font-family: Arial, Helvitca Neue, Helvitca, sans-serif;
}

body#jfellows h1 {
  background-color:#ccc;
  height: 40px;
  text-align: center;
  margin-bottom: 0;
}

body#jfellows h3 {
  width: 375px;
  text-transform: uppercase;
  background-color:#fff;
  font-size:1.2em;
  padding: 5px 0 5px 0;
}

body#jfellows footer a {
  text-align: left;
  font-size: 1.2em;
  text-decoration: none;
}

#jfwrapper {
	margin-left: 300px;
	width: 60%;
}

/* chelsey's individual styles */
body#cfay {
  font-family: 'Fondamento', cursive;
  background-color:red; 
  color:white;
}

body#cfay h1 {
  color:black;
  border:1px solid #000;
}

body#cfay .titles {
  font-size: medium;
}

body#cfay .footer{
  color:white;
}
