/* ****** layout styles **** */
.container {
  color: #444;
  margin: 0 auto;
}

.coreyLeavitt {
  background: green;
  color: blue;
}



/* center the container on large screens and apply background */
@media only screen and (min-width: 960px) {
  body {
    background-color: #ddd;
  }

  .container {
    background-color: #fff;
    border: 1px solid #666;
    padding: 1em;
    width: 80%;
  }
}

/* center text in header and footer */
.container > footer, .container > header {
  text-align: center;
}

/* ensure links have a color that matches theme */
.container a { color: #333; }
.container a:hover { color: #999; }
.container a:visited { color: #999; }

/* banderson */
/* builds on base styles */
body#banderson {
  font-family: 'Lora', 'Times New Roman', serif;
}

body#banderson .media a {
  color: #333;
  margin: 0.5em;
  text-decoration: none;
}

body#banderson h1 {border-bottom: 1px solid #666; }
body#banderson article h2 {font-size: 1.25em }

/* add some indentation to articles on wider screens */
@media only screen and (min-width: 960px) {
  body#banderson article {margin-left: 1em; }
}

body#jfellows {
  background-color: #FFF;
  color: #2E0000;
  font-family: Arial, Helvitca Neue, Helvitca, sans-serif;
}

body#jfellows h1 {
  background-color:#ccc;
  height: 40px;
  text-align: center;
  margin-bottom: 0;
}

body#jfellows h3 {
  width: 375px;
  text-transform: uppercase;
  background-color:#fff;
  font-size:1.2em;
  padding: 5px 0 5px 0;
}

body#jfellows footer a {
  text-align: left;
  font-size: 1.2em;
  text-decoration: none;
}

#jfwrapper {
	margin-left: 300px;
	width: 60%;
}

/* chelsey's individual styles */
body#cfay {
  font-family: 'Fondamento', cursive;
  background-color:red;
  color:white;
}

body#cfay h1 {
  color:black;
  border:1px solid #000;
}

body#cfay .titles {
  font-size: medium;
}

body#cfay .footer{
  color:white;
}

body#msargeant h1 {
  font-family: 'Domine', serif;
}

body#msargeant h2 {
  font-family: 'Quattrocento', serif;
}

/* speterson96's individual styles */
body #speterson96 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

body #speterson96 footer {
    border: 1px solid white;
    padding: 10px;
}

#sschalinske ul {
    list-style-type: none;
}

#sschalinske .summary {
    text-align: left;
    width: 900px;
    margin: auto;
}

#sschalinske .experience ul {
    text-align: left;
    width: 650px;
    margin: auto;
}

body#dkurschner1 > .container{
    border-radius: 5px;
    background: rgb(118, 100, 156);
    box-shadow: 5px 5px 5px #817C8A;
  }

  body#dkurschner1 .inner{
      margin-bottom: 10px;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      background: rgb(200, 192, 218);
      box-shadow: 5px 5px 5px #817C8A;
    }

  body#dkurschner1{
      color: #1C1628;
    }

#atanner6 > .container{
    color:#ff5d05;
    background-color:#202020;
    text-decoration:none;
    box-shadow: 1px 1px 15px #121212, inset 0 0 30px #454545;
}
#atanner6 > .container  ul{
    list-style-type:none;
}


